@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--ivory);
}

:root {
    --greybrown: #9c6e70;
    --black: #220808;
    --nude: #eacfcf;
    --chocolate: #813b33;
    --darkbrown: #580e0e;
    --ivory: #FFFFF0;
}

.bg-light {
    background-color: var(--ivory) !important;
}

a:hover {
    text-decoration: none;
}

.navbar-light a.navbar-brand {
    color: var(--black) !important;
    font-weight: 600;
}

a#navbarDropdown.nav-link.dropdown-toggle{
    color: var(--black);
}

div.dropdown-menu.show {
    background-color: var(--black);
    text-align: center;
   

}

    div.dropdown-menu.show a {
        color: var(--ivory);
        display: block;
    }

div.dropdown-menu.show a:hover {
    color: var(--nude);
}

div.container-fluid {
    margin-bottom: 5%;
   
}

div#home {
    background-image: url('images/wood-background.jpg');
}



h1#home-h1 {
    text-align: center;
    color: var(--black);
}

div.col-md-12.intro p {
    color: var(--black);
}

footer p {
    text-align: center;
}
