@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--ivory);
}

:root {
    --greybrown: #9c6e70;
    --black: #220808;
    --nude: #eacfcf;
    --chocolate: #813b33;
    --darkbrown: #580e0e;
    --ivory: #FFFFF0;
    --blue: #007bff;
}

/*Home Page*/
.bg-light {
    background-color: var(--ivory) !important;
}

a:hover {
    text-decoration: none;
}

.navbar-light a.navbar-brand {
    color: var(--black) !important;
    font-weight: 600;
}

a#navbarDropdown.nav-link.dropdown-toggle{
    color: var(--black);
}

div.dropdown-menu.show {
    background-color: var(--black);
    text-align: center;
   

}

    div.dropdown-menu.show a {
        color: var(--ivory);
        display: block;
    }

div.dropdown-menu.show a:hover {
    color: var(--nude);
}

div.container-fluid {
    margin-bottom: 5%;
   
}

h1#home-h1 {
    text-align: center;
    color: var(--black);
}

.home-h2 {
    text-align: center;
}

div.col-md-12.intro p {
    color: var(--black);
    margin-bottom: 15%;
}

a.btn.btn-default.navbar-btn {
    background-color: var(--greybrown);
    border-color: var(--greybrown);
    color: var(--ivory);

}

/*Mens Shoe CSS*/

#mshoe-h2 {
    text-align: center;
    color: var(--black);
    margin-bottom: 10%;
}

#mshoe-create a {
    color: var(--black);
    
}

#mshoe-create a:hover {
    color: var(--blue);
    
}

#men-shoe-img-row {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#men-shoe-icons {
    margin-top: 10%;
}

#men-shoe-icons a:hover {
    color: var(--black);
}


img#men-shoe-img {
    width: 250px;
    height: 250px;
}

hr {
    margin-top: 20%;
}

 
footer p {
    text-align: center;
    color: var(--black);
}
