@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-weight: 900;
    line-height: 2;
}

:root {
    --burgundy: #975072;
    --green: #586d66;
    --light-blue: #a1baec;
    --dark-blue: #464d5f;
    --brown: #5e5746;
}

/*Home Page*/
.bg-light {
    background-color: var(--ivory) !important;
}

a:hover {
    text-decoration: none;
}

.navbar-light a.navbar-brand {
    color: var(--black) !important;
    font-weight: 600;
}

a#navbarDropdown.nav-link.dropdown-toggle{
    color: var(--black);
}

div.dropdown-menu.show {
    background-color: var(--black);
    text-align: center;
   

}

div.dropdown-menu.show a {
    color: var(--ivory);
    display: block;

}

div.dropdown-menu.show a:hover {
    color: var(--nude);
}

div.container-fluid {
    margin-bottom: 5%;
   
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    
}

#home-h1 {
    text-align: center;
    margin-right: 5%;
}

.intro p {
    text-align: center;
}

.home-card {
    padding: 3%;
}

.card-text {
    text-align: center;
}

a.home-btns {
    transition: all .2s ease-in-out;
}

a.womens-btn:hover {
    background: #8977e3;
    border-color: #8977e3;
    color: #e5e1f9;
}
a.mens-btn:hover {
    background: #e38977;
    border-color: #e38977;
    color: #e5e1f9;
}

/*Clothing Display CSS*/
h2 {
    text-align: center;
    color: var(--black);
    margin-bottom: 10%;
}

a {
    color: var(--black);
    
}

a:hover {
    color: var(--blue);
    
}

div.row.all {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.icons {
    margin-top: 10%;
}

.icons a:hover {
    color: var(--black);
}


img.clothing-img {
    width: 250px;
    height: 250px;
}

/*Create Page CSS*/
h4 {
    text-align: center;
    color: var(--black);
}

.btn.btn-default {
    background-color: var(--greybrown);
    border-color: var(--greybrown);
    color: var(--ivory);
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Delete Page CSS*/
h3 {
    text-align: center;
    color: var(--black);
    margin-bottom: 5%;
}

dt {
    color:var(--black);
}

dd {
    color: var(--black);
    margin-bottom: 2%;
}

/*Details Page CSS*/
h4 {
    margin-bottom: 5%;

}

h1#detail-h1 {
    margin-bottom: 5%;
    font-size: 2rem;
    color: var(--black);
}

p.p-detail {
    margin-top: 4%;
    color: var(--black);
}

.outfit-col {
    margin-bottom: 5%;
}

/*Bottom Of Page CSS*/
hr {
    margin-top: 20%;
}

 
footer p {
    text-align: center;
    color: var(--black);
}
